body{
    margin: 0px;
    padding: 0px;
    background-image: url(pexels-karolina-grabowska-5632386.jpg);
    background-color: #faf1ea;
    background-size:auto;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar CSS */
/* .navMain, .navItems{
    width: 30%;
    
} */
.navbar{
    background-color: rgba(1, 1, 1, 0.8);

}

.search{
    width: 50%;
    display: flex;
    height: 1.5rem;
}

.navItems ul{
    margin-left: auto;
}
.search button{
    background-color:rgba(1, 1, 1, 0.4);
    color: white;
    border: none;
    outline: none;
}

.search input{
    width: 100%;
    outline: none;
}


/* Body CSS */

.categories a{
    
    padding: 0.5rem;
    width: 100%;
    
    color: black;
    text-decoration: none;
}
.categories a:hover{
    color: whitesmoke;
    background-color: rgba(1, 1, 1, 0.2);
    
}
.categories ul, li{
    padding: 0px;
    width: 100%;
    margin-bottom:0.5rem ;
}
.categories li{
    list-style-type: none;
    width: 100%;
}
.parentDiv{
    display: grid;
    place-items: center;
    border-left: 2px solid black;
}
.parentCategories{
    display: flex;
    align-items:center;
    justify-items: center;
}


.img{
    
    text-align: center;
}
.image{
    width: 100%;
}
.bodyStarts{
    padding: 2rem 0rem;
    
}
.bodyDiv{
    background-color: rgba(255,255,255,0.8);

}
/*  Categories CSS for small and extra small screens */

.categoriesRow h2{
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    
    
}
.center h4, .center ul,.center li{
    text-align: center;
}
.categoriesRow li, ul{
    list-style-type: none;
    padding: 0px;
}
.categoriesRow a{
    text-decoration: none;
    
    padding: 0.5rem 0rem;
    color: black;
}
.categoriesRow a:hover{
    background-color: rgba(1, 1, 1, 0.2);
    color: whitesmoke;

}
.categoriesRow h4{
    margin-bottom: 1.5rem;
}
/* Items CSS */

.anchor img{
    width: 100%;
    /* height: 100%; */
}
.item{
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.8);
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* margin-bottom: 22rem; */
    /* width: 10rem; */
    /* height: 15rem; */
}
.item h2{
    font-size: 19px;
    padding: 0.5rem;
    margin-top: 0.2rem;
    color: black;
    font-weight: bold;
    
}

.itemsDisplay div.center, .fastCart{
    /* width: 30%; */
    display: grid;
    place-content: center;
    margin: 0.5rem;
    padding: 1rem;
    /* margin-right: auto; */
    /* text-align: center; */
    background-color: rgba(255,255,255,0.8) ;
}
.item a{
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* About Us CSS (what is FastCart>)  */
.aboutUS{
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    background-color:rgba(255,255,255,0.8);
}
.placement{
    display: grid;
    place-content: center;
    min-height: 500px;
}
.aboutUS .row div{
    text-align: center;
   
    margin-bottom: 0.5rem;
    /* margin-top: 0.5rem; */
    
}
.aboutUS button{
    background-color: white;
    border-radius:30px;
    padding: 0.8rem;
    outline: none;
}
.aboutUS button:hover{
    /* background-color: black; */
    /* color: white; */
    width: 200px;
}
.bottom-row button{
    margin-top: 2rem;
}

/* Footer CSS */

.footer{
    background-color: rgba(1, 1, 1, 0.8) ;
    padding: 3rem;
    min-height: 300px;
    display: grid;
    align-items: center;
    margin: 0px;
}
.center-items{
    display: grid;
    place-content: center;
}
.icons{
    margin-top: 2rem;
}
.icons i{
    margin-right: 0.5rem;
}

.footer i, p,li{
    color: lightslategrey;
}
.footer .row div{
    margin-bottom: 1.5rem;
}

                                /* Media Queries used simply to change some CSS elements according to screen size.These elements were not possible to manipulate using only Bootstrap Classes. Grid and structuring for different screen sizes is done through only Bootstrap Built In Classes */
/* Media Queries     */

@media (max-width:768px){
    .parentDiv{
        border-left: none;
    }
}